.root {
    -fx-background-color: linear-gradient(to bottom right, #a6a6a6, #737373);
    /*
    -fx-background-color: linear-gradient(to bottom right, red, blue);
    */
}

GridPane{
    -fx-background-color:linear-gradient(to top left,#077FE9,#97CAF7);
    -fx-padding: 15px;
    -fx-border-width:5px;
    -fx-border-color:white;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-padding:10px;
}

GridPane .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #00aaff;
    -fx-alignment:center;
    -fx-max-width: Infinity;
    -fx-width: 45px;
    -fx-padding:3px;
    
}

GridPane #Letra{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00aaff ;
    -fx-alignment:center;
    -fx-max-width: Infinity;
    -fx-background-color: white;
    -fx-border-width:3px;
    -fx-border-color:#00aaff;
    -fx-border-radius:10px;
    -fx-background-radius:13px;
}

#FREE{
    -fx-padding:2px;
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #0049FF;
    -fx-border-radius:20px;
    -fx-border-width:4px;
    -fx-border-color: white;
    -fx-background-radius:20px;
    
    
}

#col0{
    -fx-width:30px;
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #0049FF;
    -fx-border-color: white;
    -fx-border-width:2px;
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-padding:2px;
    -fx-opacity:0.7;
}

#col1{
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #F730D3;
    -fx-border-radius:50px;
    -fx-border-color: white;
    -fx-border-width:2px;
    -fx-background-radius:50px;
    -fx-padding:2px;
    -fx-opacity:0.5;
}

#col2{
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #aa00ff;
    -fx-border-radius:20px;
    -fx-border-color: white;
    -fx-border-width:2px;
    -fx-background-radius:20px;
    -fx-padding:2px;
    -fx-opacity:0.5;
}

#col3{
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #E98607;
    -fx-border-radius:20px;
    -fx-border-color: white;
    -fx-border-width:2px;
    -fx-background-radius:20px;
    -fx-padding:2px;
    -fx-opacity:0.5;
}

#col4{
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #0049FF;
    -fx-border-radius:20px;
    -fx-border-color: white;
    -fx-border-width:2px;
    -fx-background-radius:20px;
    -fx-padding:2px;
    -fx-opacity:0.5;
}

#piedra{
    -fx-font-size:18px;
    -fx-text-fill:white;
}

#generador{
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color: #4d94ff; 
    -fx-border-radius: 10px; 
    -fx-border-color: white; 
    -fx-border-width: 3px; 
    -fx-background-radius: 11px;
}
#generador:hover {
    -fx-background-color: #1a75ff;
}

#bottomContainer{
    -fx-padding-top:20px;
    -fx-margin-top:20px;
}
